<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet">

</head>
<body>
    <form action="/login/" method="post" enctype="multipart/form-data">
        <p>
            <label for="username">用户名： </label>
            <input id="username" name="user" type="text"/>
        </p>
        <p>
            <label for="password">密码： </label>
            <input id="password" name="pwd" type="password"/>

        </p>
        <p>
            男：<input type="radio" name="gender" value="1">
            女：<input type="radio" name="gender" value="2">
            张杨：<input type="radio" name="gender" value="3">


        </p>
        <p>
            男：<input type="checkbox" name="gender" value="1">
            女：<input type="checkbox" name="gender" value="2">
            张杨：<input type="checkbox" name="gender" value="3">
        </p>
        <p>
            <select name="city" multiple>
                <option value="sh">上海</option>
                <option value="bj">北京</option>
                <option value="tj">天津</option>
            </select>
        </p>
        <p>
            <input type="file" name="faf">
        </p>
                    <input type="submit" value="提交">
    </form>
</body>
</html>